@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.buttonWithAnimation {
    width: 14vmin;
    height: 5.6vmin;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #213,
            #112 5%,
            #112 60%,
            #213 95%);

    border: solid 1px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle),
            transparent 25%,
            #fff,
            #08f 50%,
            transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 3s linear infinite;
}

.buttonWithAnimation:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.hamburger {
    width: 30px;
    height: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    background: white;
    height: 3px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: rgba(38, 66, 255, 0.1);
    color: white;
    position: absolute;
    top: 76px;
    /* Adjust based on your header height */
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
}

.menu.open {
    display: flex;
}

@media (max-width:426px) {
    .buttonWithAnimation {
        width: 20vmin;
        height: 10vmin;
    }
}